html {
  color: white;
  background-color: rgb(39, 4, 4);
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.header,
.recipe {
  color: gold;
  background: black;
  border: 3px solid blue;
  text-align: center;
}

.header {
  padding: 32px;
  margin: 12px;
  text-align: center;
}

.recipe {
  width: 200px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  margin-left: 155px;
  margin-bottom: 25px;
}